@model GCGroupProject.viewModels.RecipeIngredientDetailView

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Details</h2>

<div class="recipe">
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>           
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeTitle)
        </dd>
        <dt>
            Prep Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>

        <dt>
            Cook Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookTime)
        </dd>

        <dt>
            Servings:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>
            Instructions:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }, new { style = "color:lawngreen" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "color" })
</p>
