@model GCGroupProject.viewModels.RecipeIngredientDetailView

@{
    ViewBag.Title = "Recipe Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealType)
        </dd>

    </dl>
    <strong> Ingredients:</strong> <br />
    <table>
        <tr>
            <th><u>Name</u></th>
            <th><u>Amount</u></th>

        </tr>
        @foreach (var i in Model.IngredientNames)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => i.IngredientName)
                </td>
                <td>
                    @Html.DisplayFor(x => i.Amount)
                </td>
            </tr>
        }

    </table>
    <p><strong>Instructions:</strong><p>
    <p>@Html.DisplayFor(model => model.Steps)</p>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
