@model GCGroupProject.viewModels.RecipeIngredientDetailView

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Recipe Card</h2>

<div class="recipe">
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeTitle)
        </dd>
        <dt>
            Preparation Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>

        <dt>
            Cooking Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookTime)
        </dd>

        <dt>
            Servings:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>
    </dl>
    <center>
        <strong>Ingredients: </strong>
        <br />
        <table class=" table-responsive">
            <tr>
                <th><u>Name</u></th>
                <th><u>Amount</u></th>

            </tr>
            @foreach (var i in Model.IngredientNames)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => i.IngredientName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => i.Amount)
                    </td>
                </tr>
            }
        </table>
    </center>
    <br /><br />
    <strong>Instructions:</strong>
    <p>
        @Html.DisplayFor(model => model.Steps)
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }, new { style = "color:lawngreen" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "color" })
</p>
