@model PagedList.IPagedList<GCGroupProject.Models.Recipe>
@using PagedList.Mvc;
<link href="`/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Recipes";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Recipe", FormMethod.Get))
{
    <p>
        Find Recipe by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Recipe Title", "Index", new { sortOrder = ViewBag.NameSortParm }, new { style = "color:lawngreen" })
        </th>
        <th>
            Steps
        </th>
        <th>
            Preparation Time
        </th>
        <th>
            Cook Time
        </th>
        <th>
            Servings
        </th>
        <th>
            @Html.ActionLink("Meal Type", "Index", new { sortOrder = ViewBag.MealTypeSortParm }, new { style = "color:lawngreen" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Steps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrepTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CookTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }, new { style = "color:lawngreen" }) |
            @Html.ActionLink("Edit Ingredients", "EditIngredientsView", new { id = item.RecipeID }, new { style = "color:lawngreen" }) |
            @Html.ActionLink("Details", "Details", new { id = item.RecipeID }, new { style = "color:lawngreen" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID }, new { style = "color:lawngreen" })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
