@model GCGroupProject.Models.RecipeIngrdientEdit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<div>
    <h4>RecipeIngrdientEdit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.RecipeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.RecipeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
